<div id="page" class="d-flex flex-column pt-2 pb-2 pl-4 pr-4">
    <div class="p-2 border-bottom">
        <h3 class="text-secondary">Projects List</h3>
    </div>
    <div class="d-flex flex-column">
        <form class="row p-4" [formGroup]="formGroup" (ngSubmit)="onSearch()">
            <div class="col-5">
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Project number, name, customer name"
                    formControlName="query"
                >
            </div>
            <div class="col-3">
                <select 
                    id="project-status" 
                    class="custom-select flex-grow-1" 
                    formControlName="status"
                >
                    <option
                        [hidden]="status === ProjectStatus.Unknown"
                        *ngFor="let status of StatusOptions; let i = index"
                        [value]="status"
                    >{{ ProjectStatusDic[status] }}</option>
                </select>
            </div>
            <button
                type="submit"
                class="btn btn-primary"
                style="margin-left: 24px; margin-right: 24px;"
            >Search Project</button>
            <button
                type="button"
                class="btn btn-link"
                (click)="onReset()"
            >Reset Search</button>
        </form>
        <div class="pl-4 pt-4 pb-4">
            
            <table class="table table-borderless bg-white">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items | paginate: paginationConfig" (click)="onSelectionChange(item)">
                        <th scope="row" style="width: 40px;">
                            <input
                                type="checkbox"
                                [checked]="getIsChecked(item.id)"
                            >
                        </th>
                        <td style="width: 80px;">
                            <button
                                type="button"
                                class="btn btn-link"
                                (click)="onStartEdit(item.id)"
                            >
                            {{ item.number }}
                            </button>
                        </td>
                        <td style="width: 300px;">{{ item.name }}</td>
                        <td style="width: 150px;">{{ ProjectStatusDic[item.status] }}</td>
                        <td style="width: 150px;">{{ item.customer }}</td>
                        <td style="width: 120px;">{{ item.startDate | date: 'dd.MM.YYYY' }}</td>
                        <td>
                            <button 
                                type="button"
                                class="btn ml-2"
                                (click)="onConfirmDelete(confirmBeforeDeleteContent, [ item ])"
                            >
                                <img src="/assets/trash.svg" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div class="row pl-4 pr-4">
                                 <p class="text-primary mr-auto mt-auto mb-auto">{{ selectedItems.length }} items selected</p>
                                 <button
                                     type="button"
                                     class="btn delete-selection-btn"
                                     (click)="onConfirmDelete(confirmBeforeDeleteContent, selectedItems)"
                                 >
                                    <span class="text-danger mr-2">delete selected items</span>
                                    <img src="/assets/trash.svg" />
                                 </button>
                            </div>
                        </td> 
                     </tr>
                </tbody>
            </table>
            <pagination-template #p="paginationApi"
                [id]="paginationConfig.id!"
                (pageChange)="onPageChange($event)">
                
                <div class="pt-2 d-flex">
                    <div *ngIf="loading" class="d-flex flex-row ml-auto">
                        <div class="spinner-border" role="status"></div>
                        <p class="ml-2 mt-1">Loading data...</p>
                    </div>
                    <nav aria-label="Project navifation" class="ml-auto disable-user-select">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a 
                                    class="page-link"
                                    [ngClass]="{'text-secondary': p.isFirstPage()}"
                                    (click)="!loading && !p.isFirstPage() && p.previous()"
                                >Previous</a>
                            </li>
        
                            <li 
                                class="page-item" 
                                *ngFor="let page of p.pages"
                                [ngClass]="{ 'active': p.getCurrent() === page.value }"
                            >
                                <a
                                    *ngIf="p.getCurrent() !== page.value"
                                    class="page-link"
                                    (click)="!loading && p.setCurrent(page.value)"
                                >{{ page.label }}</a>
                                <a
                                    *ngIf="p.getCurrent() === page.value"
                                    class="page-link"
                                >{{ page.label }}</a>
                            </li>

                            <li class="page-item">
                                <a 
                                    class="page-link"
                                    [ngClass]="{'text-secondary': p.isLastPage()}"
                                    (click)="!loading && !p.isLastPage() && p.next()"
                                >Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </pagination-template>
        </div>
    </div>
</div>

<ng-template #confirmBeforeDeleteContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Confirmation before continue!</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <p>Are you sure you want to delete selected items?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Ok</button>
    </div>
</ng-template>